<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdxg.angrybulls.dao.PlayRecordMapper">
  <resultMap id="BaseResultMap" type="com.sdxg.angrybulls.model.PlayRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="play_time" jdbcType="TIMESTAMP" property="playTime" />
    <result column="last_pos" jdbcType="VARCHAR" property="lastPos" />
  </resultMap>
</mapper>